<div
    class="relative flex inline-flex items-center hover:bg-gray-50 focus:bg-gray-50 focus:outline-none"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="toggleMenu()"
    role="button"
>
    <div id="sort-header-content">
        <ng-content />
    </div>
    <div
        id="sort-header-icon"
        type="button"
        class="inline-flex items-center gap-x-2 rounded-lg px-4 py-3 text-sm font-medium text-gray-800 disabled:pointer-events-none disabled:opacity-50"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Dropdown"
    >
        <ng-content select="[sort-header-icon]">
            <svg
                class="size-4"
                [class.rotate-180]="isOpen()"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="m6 9 6 6 6-6" />
            </svg>
        </ng-content>
    </div>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    (backdropClick)="closeMenu()"
>
    <div
        class="mt-2 min-w-60 divide-y divide-gray-200 rounded-lg bg-white shadow-md"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="hs-dropdown-with-icons"
    >
        <div class="space-y-0.5 p-1">
            @if (enableSort()) {
                <div
                    class="flex items-center gap-x-3.5 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
                    href="#"
                    role="menuitem"
                    (click)="handleSort('asc')"
                >
                    <svg
                        class="size-4 shrink-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="m5 12 7-7 7 7"></path>
                        <path d="M12 19V5"></path>
                    </svg>
                    Sort ascending
                </div>
                <a
                    class="flex items-center gap-x-3.5 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
                    href="#"
                >
                    <svg
                        class="size-4 shrink-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M12 5v14"></path>
                        <path d="m19 12-7 7-7-7"></path>
                    </svg>
                    Sort descending
                </a>
            }
            @if (enablePosition()) {
                <a
                    class="flex items-center gap-x-3.5 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
                    href="#"
                >
                    <svg
                        class="size-4 shrink-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="m12 19-7-7 7-7"></path>
                        <path d="M19 12H5"></path>
                    </svg>
                    Move left
                </a>
                <a
                    class="flex items-center gap-x-3.5 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"
                    href="#"
                >
                    <svg
                        class="size-4 shrink-0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                    Move right
                </a>
            }
        </div>
    </div>
</ng-template>
